<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Host" value="192.168.56.1" />
    <add key="Port" value="1521" />
    <add key="Service" value="XE" />
    <add key="Username" value="tw08" />
    <add key="Password" value="password" />
  </appSettings>
</configuration>